doctype html
html
  head
    title= title
    block styles
      link(
        rel='stylesheet',
        href='/css/main.css'
      )
      link(
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Playfair+Display:900",
      )
      link(
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Amatic+SC:700",
      )
      link(
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Exo+2:300",
      )
  body
    block content
